body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200 vh;
    background-color: rgb(29, 64, 130);
}

h1 {
    font-size: 10rem;
}


.letter {
    transition : color 1000ms;
}